.experience-page {
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  font-family: League Spartan;
}

.skills-list::before{
    color: #BFA181;
    content: "▹ ";
    left: 0;
    position: absolute;
}